.background    { background: rgb(128, 0, 128);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.portal        { background: rgb(25, 25, 112); }
.wall          { background: black;   }

.actor  { position: absolute;  }
.ruby   { background: rgb(255, 105, 180); }
.player { background: rgb(255, 255, 0); }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(0, 128, 0);
}
.won .player {
  box-shadow: -4px -7px 8px red, 4px -7px 8px red;
}
